body {
    background-image: url(../images/space.jpeg);
    background-size: cover;
}

.title{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 2px black;
}

.score{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 20px;
}

.game{
    display: grid;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.729);
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    place-items: center;
    width: fit-content;
    margin: auto;
}

.game div{
    grid-column: var(--column);
    grid-row: var(--row);
    background-size: cover;
    width: 100%;
    height: 100%;
}
.asteroid{
    background-image: url(../images/asteroid.png);
}

.spaceship{
    background-image: url(../images/spaceship.png);
}

.explode{
    background-image: url(../images/explode.png);
}

.start-btn{
    margin: auto;
    background-color: darksalmon;
    border: none;
    width: 100px;
    height: 50px;
    color: white;
    font-size: 15px;
    font-weight: 900;
}

.start-btn:hover{
    background-color: teal;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
}

