body {
    background-color: skyblue;
}

.game{
    display: grid;
    border: 2px solid black;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    width: fit-content;
    margin: auto;
}

.asteroid{
    grid-column: var(--column);
    grid-row: var(--row);
}
