<div{{attributes}} {% if isRunning %} data-poll="delay(300)|addAsteroid" {% endif %}>
	<div class="game">
		{% for row, asteroid in asteroids %}
			<div class="asteroid" style="--column:{{ asteroid + 1 }}; --row: {{ row + 1}}">#</div>
		{% endfor %}
	</div>

	<button data-action="live#action" data-action-name="toggleRunning">{{ isRunning ? 'Pause' : 'Start' }}</button>
</div>
